*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}


/* -------------------------------------HEADER---------------------------------- */

header{
    display: flex;
    justify-content: center;
    padding: 2%;
    color:white

}

header img{
    width: 40%;
}

nav{
    display: flex;
    background-color: rgb(0, 95, 173);
    padding: 2em 5em;
    justify-content: flex-end;
}

.nav-list::before{
    content: "";
}
/*
nav::after{
    content: "";
} */

nav .nav-dropdown{
    display: flex;
    flex-direction: row;
}

nav img{
    width: 3em;
}

nav .nav-dropdown-menu{
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:480px){
    nav .nav-dropdown-menu{
        position: absolute;
        top: 5em;
        right: 0em;

    }
    nav .nav-dropdown-menu ul{
        display: flex;
        flex-direction: column;
        padding-top: 23px;
        padding-bottom: 27px;
    }

    nav .nav-dropdown-menu ul li{
        margin: 1em;
    }
}

.hide{
    display: none;
}

nav .nav-dropdown-menu ul{
    margin: 0px;
    list-style: none;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

nav .nav-dropdown-menu ul li{
    display: inline;
    /* padding: 10px 10px; */
    margin: 0px;
}


nav .nav-dropdown-menu ul a{
    margin: 20px 0px;
    padding: 20px 10px;
    color: black;
    font-size:15px;
    text-decoration: none;
}

nav .nav-dropdown-menu ul li:hover{
    background-color: rgba(80, 80, 80, 0.41);
}

ul{
    color:white;
    font-size: 20px;
    margin-top: 20px;
    list-style:none;
}

.nav-list{
    display: flex;
    align-items: space-evenly;
    padding: 5px 20px;
}

.nav-list a{
    font-size: large;
    text-decoration: none;
    color:white;
    padding: 15px;
    border-radius:10px;
    margin: auto;
}

.nav-list a:hover{
    background-color: white;
    color:black;
    transition: 0.4s;
}





/* ----------------------------------Footer---------------------------------- */

footer{
    margin-top: 10%;
    position: relative;
    text-align: center;

}




/* ___________________ADMIN LOGIN________________________ */

.form-container{
    margin-top: 50px;
    text-align: center;
    background-color: white;
    margin: 2% auto;
}

.form-container h1{
    font-size: 3em
}

.log-form-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns:2;
    text-align: left;
    padding: 2em;
}

.log-form-elements input{
    margin: 1em;
    padding: 1em 1em;
    border-radius: 20px;
    width: 18rem;
    border: 0.1px solid black;
    font-size: 19px;
}

.log-form-elements label{
    font-size: 20px;
}

.log-form-elements .log-btn{
    background-color:  rgb(0, 95, 173);
    color: white;
    font-size: 20px;
    width: 250px;

}



/*--------------------- CLIENT LOGIN-------------------  */

.Userlog-form-elements{
    display: grid;
    grid-template-columns:2;
    text-align: left;
    padding: 20px;
    padding: 0.1% 33%;
}

.Userlog-form-elements input{
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    border: 0.1px solid black;
    font-size: 19px;
}

.Userlog-form-elements label{
    font-size: 20px;
}

.Userlog-form-elements .log-btn{
    background-color:  rgb(0, 95, 173);
    color: white;
    font-size: 20px;
    width: 250px;
    margin-left: 30%;
}





/* -----------   Accounts   ------------- */

.bank-form-elements{
    text-align: right;
    max-width: 550px;
    padding: auto;
    margin: auto;
}

.bank-form-elements label{
    font-size: 20px;
}


.bank-form-elements input{
    width: 55%;
    height: 5%;
    border: 0.1px solid navy;
    border-radius: 10px;
    margin: 10px 15px;

}

.bank-form-elements .sub-btn{
    background-color:  rgb(0, 95, 173);
    color: white;
    font-size: 20px;
    width: 250px;
    margin-left: 10%;
}


.acc-form{
    margin: 15px 5%;
    padding-top:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-evenly;
    align-items: flex-start;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.acc-form div{
    margin: auto;
    padding: 1px;
    text-align: left;
    max-width: 20em;
    min-width: 300px;
    font-size: 20px;
}

.acc-form div input{
    height: 40px;
    width: 50%;
    border-radius: 11px;
    margin: 5px;
}

.acc-form div textarea{

    width: 75%;
    border-radius: 11px;
    margin: 5px;
}

#arrangements_pending{
    width: 2%;
}

.acc-form .other{
    margin-top: 2em;
}
.other .sub-btn{
    margin: 2em;
    background-color:  rgb(0, 95, 173);
    color: white;
    font-size:20px;
    height: 3em;
    width: 10em;
}

.radio-button{
    display: flex;
}

.radio-button p{
    margin: 10px;
}

.radio-button input{
    margin-top: 0%;
    padding: 0px;
    width: 30px;

}



/* ------------------------ ADMIN DASHBOARD ------------------- */

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
    padding:30px;
    border-radius: 15px;
    background-color: rgba(222, 222, 222, 0.619);
}
.wrapper .card{
    max-width:320px;
    height: auto;
    flex-grow: 1;
    margin: 1em;
    padding: 25px 0px;
    background-color: white;
    border-radius:15px;
}
.wrapper .card .ribbon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(0, 95, 173);
    color: white;

}

.ribbon a{
    text-decoration: none;
}

.wrapper div .ribbon div{
    display: flex;
    justify-content: flex-end;
}

.wrapper div .ribbon div  button{
    font-size: 1em;;
    display: flex;
    align-items: center;
    height: 2.3em;
    border-style: none;
    border-radius: 5px;
    margin: 0px 5px;
    padding:20px;

}

.wrapper .items a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.wrapper .items a li:hover{
    background-color: rgba(128, 128, 128, 0.437);
    transition: 0.3s;
    transform: scale(1.2);
}
.wrapper div .items ol{
    padding: 0px;
}

.wrapper div .items ol li{
    padding: 10px 20px;
    margin: 2px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}


#quick-actions-card .items a{
    text-decoration: none;
    color: black;
    font-size: large;
}

#quick-actions-card .items a li:hover{
    background-color: rgba(128, 128, 128, 0.437);
    transition: 0.3s;
    transform: scale(1.3);
}


.status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status h3{
    margin: 1em 1em;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .status input:checked + .slider {
    background-color: #2196F3;
  }

  .status input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .status input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }












/* -------------------------Clients table -------------------------- */

.clients-table{
    background-color: rgba(72, 72, 72, 0.051);
    width: 70%;
    padding: 20px;
    margin: 20px auto;
}

.clients-table thead{
    background-color:  rgb(0, 95, 173);
    color: white;
    margin: 0px;
}

.clients-table thead tr th{
    padding: 20px;
}

.clients-table tbody tr td{
    padding: 20px;
    text-align: center;
}

.client-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.client-search label{
    font-size: larger;
}

.client-search input{
    padding: 1%;
    border-radius: 18px;
    width: 20%;
    margin: 1%;
}

#search-btn{
    padding: 1%;
    width: auto;
    background-color:#2195f3cd;
    color:white;
    border-style:none;
}




/* -----------------  client Profile  --------------------- */

.client-profile-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.client-profile-grid div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    min-width: 5em;
    background-color: rgba(175, 175, 175, 0.233);
    border-radius: 15px;
}

.client-profile-grid div section{
    background-color: rgb(255, 255, 255);
    min-width: 120px;
    min-width: 250px;
    /* height: 1em; */
    margin: 2em;
    border-radius: 15px;
}

.client-profile-grid div section h2{
    background-color:  rgb(0, 95, 173);
    color:white;
    text-align: center;
    padding: 20px;
}


.client-profile-grid div section .details-content{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding: 2em;
}

.client-profile-grid div section .details-content a{
    text-decoration: none;
    color: white;
    background-color: rgb(8, 113, 199);
    text-align: center;
    margin: 5px auto;
    width: 7em;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.293)
}

.client-profile-grid div section .payment-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding: 2em;
}
.client-profile-grid div section .payment-content input{
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.293)
}


#statements-card{
    display: flex;
    flex-direction: column;
}

#statements-card .statements-content{
    margin: 0px;
    padding: 0px;
}

#statements-card .statements-content ul{
    margin: 0px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    padding: 15px 30px;
}
#statements-card .statements-content ul li{
    border-radius:15px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
}







#invoices-card{
    display: flex;
    flex-direction: column;
}

#invoices-card .invoices-content{
    margin: 0px;
    padding: 0px;
}

#invoices-card .invoices-content ul{
    margin: 0px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    padding: 15px 30px;
}
#invoices-card .invoices-content ul li{
    border-radius:15px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
}






/* ----------------- Timer --------------- */

.timer{
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    color: white;
    align-items: center;
    justify-content: flex-end;
}

.timer .controls{
    display: flex;
    flex-direction: row;
}
.timer .check-in{
    margin: 2px 3px;
    padding: 10px;
    height: 50px;
    background-color: rgb(40, 167, 40);
    border-style: none;
    color: white;
    border-radius: 7px;
}

.timer .check-out{
    margin: 2px 3px;
    display: none;
    padding: 10px;
    height: 50px;
    background-color: rgb(195, 25, 25);
    border-style: none;
    color: white;
    border-radius: 7px;
}

.timer .reset{
    margin: 2px 3px;
    padding: 10px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 7px;
}

.timer h2{
    border-style: 1px dashed white;
    margin: 10px;
}






.remarks form fieldset{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.remarks form fieldset div{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    align-items: center;
    justify-content: flex-start;

    margin: 0px auto;
    text-align: left;
    max-width: 20em;
    min-width: 300px;
    font-size: 20px;
}

.remarks form fieldset div input{
    height: 40px;
    width: 50%;
    border-radius: 11px;
    margin: 5px;
    padding: 5px;
}

.remarks form fieldset textarea{
    /* width: 100%; */

    border-radius: 11px;
    margin: 5px;
    padding: 5px;


}

.remarks .sub-btn{
    margin: 2em;
    background-color:  rgb(0, 95, 173);
    color: white;
    font-size:20px;
    height: 3em;
    width: 10em;
}
